/* Section À propos */
.about {
    padding: 80px 0;
    background-color: white;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.about-image {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.about-text h3 {
    color: var(--primary-color);
    margin-top: 1.5rem;
}